{% extends "base.html" %}

{% block title %}About - MoodTunes{% endblock %}

{% block content %}
<section class="about">
    <h1>About Us</h1>
    <div class="about-content">
        <h2>Project Members</h2>
        <p>This project was developed by Sakshi Ghosalkar.</p>

        <h2>Technologies Used</h2>
        <p>For this project, I utilized a range of technologies to bring our vision to life. On the backend, I employed Flask and Python to handle server-side logic and data processing. The frontend was built using HTML, CSS, and JavaScript to ensure an intuitive and visually appealing user interface. Additionally, I integrated machine learning tools such as OpenCV, Pandas, and NumPy to enhance the project's capabilities, enabling advanced features like mood detection and personalized recommendations. This combination of technologies allowed us to create a robust and dynamic web application.</p>
    </div>
</section>
{% endblock %}